doctype html
html(ng-app="axmapp")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/jquery/jquery.min.js')
    
    script(src='/angular/angular.min.js')
    script(src='/angular-route/angular-route.min.js')
    script(src='/angular-resource/angular-resource.min.js')
    
    script(src='/materialdesign/js/materialize.min.js')
    script(src='/javascripts/scripts.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/materialdesign/css/materialize.min.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  body
    block content
      
