<div class="row">
	<div class="col s12 m7"><p class="page-main-title">Solicitações de Baixas em Estoque</p></div>
	<div class="col s12 m5">&nbsp;</div>
</div>

<div class="row">
	<div class="col s12 m10">
		<div class="filter-wrapper black-transparent-bg">
			<div class="row">
				<div class="col s12 m8">
					<div class="input-field">
						<input type="text" id="filtro_fornecedores" ng-model="nome"  placeholder="Pesquisar...">
					</div>
				</div>
				<div class="col s12 m4">
					<a href="/sistema#/add-baixa-estoque" class="waves-effect waves-light btn btn-add light-blue darken-4">Nova Solicitação</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col s12 m10">
		<div class="table-wrapper black-transparent-bg">
			<table class="responsive-table">
				<thead>
					<tr>
						<th data-field="produto">Produto</th>
						<th data-field="quantidade">Quantidade</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="person in people | filter:nome">
						<td></td>
						<td></td>
						<td><a href="#">Editar</td>
						<td><a href="#">Excluir</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>