<script type="text/javascript" src="/materialdesign/js/materialize.min.js"></script>
<link rel="stylesheet" href="/stylesheets/layout.css">
<link rel="stylesheet" href="/materialdesign/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id="content">
	<h1>404</h1>
	<h3>Página não encontrada</h3>
	<p>A página que você tentou acessar não foi encontrada. Por favor, verifique se você digitou o endereço correto. Em caso de dúvidas, entre em contato com o suporte.</p>
</div>